extends ../layout

block javascripts
  script(src="/js/build/web/kendo.backbone.js")
  script(src="/js/grid-datasource-backbone.js")
  script(src="/js/grid-datasource.js")

  script#marionette-grid-template(type="text/html")
    thead
      tr
        th Image
        th Name
        th URL
        th Tags
        th
    tbody.alt-rows

  script#marionette-grid-row-template(type="text/html")
    td 
      img(src!="<%= url %>", width="100")
    td <%= name %>
    td <%= url %>
    td <%= tags.join(", ") %>
    td
      button.btn.btn-danger.destroy DESTROY!

block content
  .row
    .col-sm-12
      h2 Meme Database
      h4 Kendo UI Grid + kendo.Backbone.DataSource
      p 
        | Store your favorite memes and reaction gifs! This demo uses a
        | standard Kendo UI Web Grid control, along with the 
        a(href="https://github.com/kendo-labs/kendo-backbone") kendo.Backbone.DataSource 
        | as the backing data source. It showcases the full CRUD
        | capabilities of the custom DataSource.
      p
        b Note: 
        | this does not yet support paging, sorting or filtering.
        | These are features that will be facilitated in later releases.
  .row
    .col-sm-12
      hr

  h3 Backbone Form
  form.form-horizontal.backbone-form
    .form-group
      label.col-sm-2.control-label Name 
      .col-sm-4
        input.form-control(name="name")
    .form-group
      label.col-sm-2.control-label URL 
      .col-sm-4
        input.form-control(name="url")
    .form-group
      label.col-sm-2.control-label 
        | Tags 
        br
        sub (comma-delimited)
      .col-sm-4
        textarea.form-control(name="tags")
    .form-group
      .col-sm-4.col-sm-offset-2
        .pull-right
          button.btn.btn-link Cancel
          &nbsp;
          button.btn.btn-success.save Add

  .row
    .col-sm-12
      h3 Backbone Grid
      .backbone-grid

  .row
    .col-sm-12
      hr

  .row
    .col-sm-12
      h3 Kendo UI Grid
      .grid
