extends ../layout

block javascripts
  script(src="/js/build/web/kendo.backbone.js")
  script(src="/js/grid-datasource-backbone.js")
  script(src="/js/grid-datasource.js")

  script#marionette-grid-template(type="text/html")
    thead
      tr
        th Image
        th Name
        th URL
        th Tags
        th
    tbody.alt-rows

  script#marionette-grid-row-template(type="text/html")
    td 
      img(src!="<%= url %>", width="100")
    td <%= name %>
    td <%= url %>
    td <%= tags.join(", ") %>
    td
      button.destroy DESTROY!

block content
  header
    h2 Meme Database
    h4 Kendo UI Grid + kendo.Backbone.DataSource
    p 
      | Store your favorite memes and reaction gifs! This demo uses a
      | standard Kendo UI Web Grid control, along with the 
      a(href="https://github.com/kendo-labs/kendo-backbone") kendo.Backbone.DataSource 
      | as the backing data source. It showcases the full CRUD
      | capabilities of the custom DataSource.
    p
      b Note: 
      | this does not yet support paging, sorting or filtering.
      | These are features that will be facilitated in later releases.

  h3 Backbone Form
    form.backbone-form
      .input
        label Name 
          input(name="name")
      .input
        label URL 
          input(name="url")
      .input
        label Tags 
          input(name="tags")
      .input
        button.save Add
        button Cancel

  h3 Backbone Grid
  .backbone-grid

  h3 Kendo UI Grid
  .grid
