extends ../layout

block javascripts
  link(rel="stylesheet", href="/css/view-events.css")
  script(src="/js/build/web/kendo.backbone.js")
  script(src="/js/view-events.js")

  script#drink-list-template(type="text/html")
    #result
      h3 Select An Item
    #listView
    #pager.k-pager-wrap

  script#drink-item-template(type="text/x-kendo-tmpl")
    .product
      img(src="http://demos.kendoui.com/content/web/foods/${ProductID}.jpg", alt="${ProductName} image")
      h3 #: ProductName #
      p #: kendo.toString(UnitPrice, "c") #

block content
  #example.k-content
    .demo-section
