extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2
      h1 Kendo UI + Backbone
      h4 The Integration Demos
      p 
        | Welcome to the 
        a(href="https://github.com/kendo-labs/kendo-backbone") KendoUI+Backbone 
        | integration demo pages. This is a
        | set of demonstration pages to illustrate the use of the
        | Kendo-Backbone integration libraries. For more information
        | about the integration libraries, and other integration points
        | for Kendo UI, see the 
        a(href="http://labs.kendoui.com") Kendo UI Labs 
        | project.
