doctype 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=US-ASCII")

    title Kendo UI: Kendo-Backbone Integration Demos

    link(rel="stylesheet", type="text/css", href="/kendoui/css/kendo.common.min.css")
    link(rel="stylesheet", type="text/css", href="/kendoui/css/kendo.bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    link(rel="stylesheet", href="/telerik-navbar/css/nav-style.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css")

    script(src="/jquery/jquery.js")
    script(src="/backbone/underscore.js")
    script(src="/backbone/backbone.js")
    script(src="/backbone/backbone.localstorage.js")
    script(src="/backbone/backbone.marionette.js")
    script(src="/kendoui/js/kendo.all.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/telerik-navbar/telerik-navigation.min.js")

    block javascripts
  body
    include telerik-navbar

    .navbar
      .container
        .navbar-header
          button.button.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img(src="/images/kendo-ui-logo.png")
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              h1 
                | + BackboneJS

          ul.nav.navbar-nav
            li &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          ul.nav.navbar-nav
            li
              a(href="/") Home
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                | Integration Demos 
                b.caret
              ul.dropdown-menu
                li
                  a(href="/demos/grid-datasource") Grid + Backbone.DataSource
                li
                  a(href="/demos/view-events") Widget Events + Backbone.View
          ul.nav.navbar-nav.navbar-right
            li
              a.btn.btn-primary.btn-lg(href="https://github.com/kendo-labs/kendo-backbone", target="_blank") 
                i.fa.fa-github.fa-lg
                |  Download

    .container
      .row
        .col-sm-12
          block content
      .row
        &nbsp;
    footer
      .container
        .row
          .col-sm-12
            .pull-right
              | Copyright &copy;#{new Date().getFullYear()} 
              a(href="http://labs.kendoui.com") Telerik
              |. All Rights Reserved.

